        <!-- Footer-->
        <footer class="bg-black py-3 mx-0" style="background-color: black;">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Simple Node Blog</div></div>
        </footer>